<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    alt="Payment Wall Logo"
    src="assets/imgs/PW20_logo_light.svg"
  />
</div>

<div class="content" role="main" [hidden]="openDialog">

  <mat-card>
    <mat-card-title class="text-primary text-uppercase">
      Checkout Invoice
    </mat-card-title>

    <mat-card-content>
      <form id="paymentForm" [formGroup]="paymentForm">
        <div class="row">
          <mat-form-field class="col-sm-9 col-xs-8">
            <mat-label>Amount</mat-label>
            <input matInput formControlName="amount" mask="separator.2" thousandSeparator=",">
            <mat-error *ngIf="paymentForm.get('amount').errors && paymentForm.get('amount').dirty && paymentForm.get('amount').touched">
              {{ paymentForm.get('amount').value | validatorMesssage : paymentForm.get('amount') }}
            </mat-error>
          </mat-form-field>

          <mat-form-field class="col-sm-3 col-xs-4">
            <mat-label>Currency</mat-label>
            <mat-select formControlName="currency" name="currency">
              <mat-option *ngFor="let currency of listCurrency" [value]="currency">
                {{currency}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="paymentForm.get('currency').errors && paymentForm.get('currency').dirty && paymentForm.get('currency').touched">
              {{ paymentForm.get('currency').value | validatorMesssage : paymentForm.get('currency') }}
            </mat-error>
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field>
            <mat-label>Country</mat-label>
            <mat-select formControlName="country" name="Country">
              <input class="input-select-search" matInput type="text" [formControl]="filterCountry"
                     placeholder="Search..." autocomplete="off">
              <mat-option *ngFor="let country of tempCountry" [value]="country.code">
                {{country.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="row">
          <label class="text-left text-primary">Payment Method:</label>
          <mat-radio-group class="col-sm-12 radio-vertical" formControlName="paymentMethod">
            <mat-radio-button class="mt-2 mb-2" *ngFor="let method of listPaymentMethods" [value]="method.id">
              <img [src]="method.img_url" alt="{{method.name}}">
              <div style="clear:both;"></div>
              <span>{{method.name}}</span>
            </mat-radio-button>
            <mat-error *ngIf="paymentForm.get('paymentMethod').errors && paymentForm.get('paymentMethod').dirty && paymentForm.get('paymentMethod').touched">
              {{ paymentForm.get('paymentMethod').value | validatorMesssage : paymentForm.get('paymentMethod') }}
            </mat-error>
          </mat-radio-group>
        </div>
        <ng-container formGroupName="cardForm">
          <div class="row">
            <mat-form-field class="col-sm-12">
              <mat-label>Name on card</mat-label>
              <input matInput formControlName="cardName" mask="S* S*">
              <mat-error *ngIf="cardForm.get('cardName').errors && cardForm.get('cardName').dirty && cardForm.get('cardName').touched">
                {{ cardForm.get('cardName').value | validatorMesssage : cardForm.get('cardName') }}
              </mat-error>
            </mat-form-field>

            <mat-form-field class="col-sm-12">
              <mat-label>Card Number</mat-label>
              <input matInput formControlName="cardNumber" mask="0000 0000 0000 0000">
              <mat-error *ngIf="cardForm.get('cardNumber').errors && cardForm.get('cardNumber').dirty && cardForm.get('cardNumber').touched">
                {{ cardForm.get('cardNumber').value | validatorMesssage : cardForm.get('cardNumber') }}
              </mat-error>
            </mat-form-field>

            <mat-form-field class="col-sm-6">
              <mat-label>Expire Date</mat-label>
              <input matInput formControlName="expire" mask="M0/00">
              <mat-hint>MM/YY</mat-hint>
              <mat-error *ngIf="cardForm.get('expire').errors && cardForm.get('expire').dirty && cardForm.get('expire').touched">
                {{ cardForm.get('expire').value | validatorMesssage : cardForm.get('expire') }}
              </mat-error>
            </mat-form-field>

            <mat-form-field class="col-sm-6">
              <mat-label>CVV</mat-label>
              <input matInput formControlName="cvv" mask="000">
              <mat-error *ngIf="cardForm.get('cvv').errors && cardForm.get('cvv').dirty && cardForm.get('cvv').touched">
                {{ cardForm.get('cvv').value | validatorMesssage : cardForm.get('cvv') }}
              </mat-error>
            </mat-form-field>
          </div>
        </ng-container>
      </form>
    </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="onSubmit()">
        <i class="material-icons mr-2">payment</i> Pay {{paymentForm.get('amount').value | mask: 'separator.2' :','}} {{paymentForm.get('currency').value}}
      </button>
    </mat-card-actions>
  </mat-card>

</div>


